h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

body{
    background-color: black;
    color:white;
    text-align: center;
}

img{
    border: solid 5px white;
    width: 100%;
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}